@use "@styles/variables" as *;
@use "@styles/mixins" as m;

.container {
    margin-inline: auto;
    max-width: 540px;
    margin-top: 140px;

    @include m.mq(desktop) {
        margin-top: 155px;
        padding-inline: 0;
    }
}
.content {
    text-align: center;
    margin-bottom: 50px;
    padding-inline: 28px;

    @include m.mq(desktop) {
        padding-inline: 0;
        margin-bottom: 57px;
    }
}
.title {
    @include m.primaryTitle;
    margin-bottom: 15px;
    line-height: 1.4;

    @include m.mq(desktop) {
        margin-bottom: 20px;
        line-height: unset;
    }
}
.description {
    @include m.description;
    font-size: 15px;
    line-height: 1.6;
    @include m.mq(desktop) {
        font-size: $fs-400;
        line-height: unset;
    }
}
.box {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding-top: 6px;
    margin-left: 32px;
    margin-right: 8px;
    margin-bottom: 49px;
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);

    @include m.mq(desktop) {
        gap: 9px;
        margin: 0;
        margin-bottom: 55px;
    }
}
.btn-box {
    display: flex;
    justify-content: center;
}
.btn-text {
    letter-spacing: 0.6px;
}
