@use "@styles/mixins" as m;

.container {
    margin-inline: auto;
    margin-top: 155px;
    max-width: 540px;
}
.content {
    text-align: center;
    margin-bottom: 56px;
}
.title {
    @include m.primaryTitle;
    margin-bottom: 20px;
}
.description {
    @include m.description;
}
.box {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-top: 6px;
    margin-bottom: 55px;
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
}
.btn-box {
    display: flex;
    justify-content: center;
}
.btn-text {
    letter-spacing: 0.6px;
}
