@use "@styles/variables" as *;
@use "@styles/mixins" as m;

.container {
    display: flex;
    column-gap: 44px;
    row-gap: 28px;
    text-align: center;

    @include m.mq(tablet) {
        text-align: left;
    }
}

.link {
    color: $dark-color;
    font-size: $fs-200;
    letter-spacing: 2px;

    text-transform: uppercase;
    transition: color 200ms;

    &:hover {
        color: $brand-accent;
    }

    @include m.mq(tablet) {
        letter-spacing: 1px;
    }
}
.light {
    color: $light-color;
}
.column {
    flex-direction: column;
    @include m.mq(tablet) {
        flex-direction: row;
    }
}
