@use "@styles/variables" as *;
@use "@styles/mixins" as m;

.section {
    padding-top: 9.3rem;

    @include m.mq(tablet, desktop) {
        padding-top: 5rem;
    }
    @include m.mq(desktop) {
        padding-top: 2.5rem;
    }
}

.box {
    text-align: center;

    max-width: 870px;
    padding-inline: var(--wrapper-padding-inline);
    margin-bottom: 41px;
    margin-inline: auto;

    @include m.mq(desktop) {
        margin-bottom: 47px;
    }
}
.title {
    @include m.primaryTitle;
    margin-bottom: 10px;

    @include m.mq(desktop) {
        margin-bottom: 20px;
    }
}
.description {
    @include m.description;
    letter-spacing: -0.3px;
    line-height: 1.6;
    font-size: $fs-300;

    @include m.mq(desktop) {
        font-size: $fs-400;
        line-height: unset;
        letter-spacing: 0.1px;
    }
}
