@use "@styles/variables" as *;
@use "@styles/mixins" as m;

.container {
    margin-top: 32px;
}
.content {
    max-width: 550px;
    margin-inline: auto;
    text-align: center;
    margin-bottom: 50px;
}
.title {
    @include m.primaryTitle;
    margin-bottom: 18px;
}
.description {
    @include m.description;
    line-height: 1.6;
}
.box {
    display: grid;
    grid-template-rows: 10px 10px 1fr 10px 10px;
    grid-template-areas:
        "chrome ....... ....."
        "chrome firefox ....."
        "chrome firefox opera"
        "...... firefox opera"
        "...... ....... opera";

    justify-content: center;
    gap: 30px;

    & :nth-child(1) {
        grid-area: chrome;
    }
    & :nth-child(2) {
        grid-area: firefox;
    }
    & :nth-child(3) {
        grid-area: opera;
    }
}
