@use "@styles/variables" as *;

.poster {
    margin-top: 17px;
    transform: translateY(-78px);
    position: relative;
}

.illustration {
    margin-left: 170px;
    width: 536px;
}

.box {
    margin-left: 110px;
}
.title {
    font-size: $fs-700;
    font-weight: $fw-500;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.description {
    margin-bottom: 33px;
    color: $gray-color;
}
.btn-text {
    letter-spacing: 0.6px;
}
