@use "@styles/mixins" as m;

:root {
    --wrapper-padding-inline: 26px;
    --wrapper-max-width: 1440px;

    --section-padding-block: 3rem;
}

@include m.mq(tablet) {
    :root {
        --wrapper-padding-inline: 165px;
    }
}
