// Main colors
$brand-blue: hsl(231, 69%, 60%);
$brand-accent: hsl(0, 94%, 66%);

// Neutral colors
$light-color: hsl(0, 0%, 100%);
$dark-color: hsl(0, 0%, 0%);
$gray-color: hsl(229, 8%, 60%);
$background-dark-blue: hsl(229, 31%, 21%);

// Typography
$font-family: "Rubik", sans-serif;

// font size
$fs-900: 30px;
$fs-700: 24px;
$fs-500: 20px;
$fs-400: 18px;
$fs-300: 16px;

// font weight
$fw-400: 400;
$fw-500: 500;
