.container {
    display: grid;
    position: relative;

    grid-template-columns:
        minmax(var(--wrapper-padding-inline), 1fr)
        minmax(0, calc(var(--wrapper-max-width) / 2))
        minmax(0, calc(var(--wrapper-max-width) / 2))
        minmax(var(--wrapper-padding-inline), 1fr);
}
.left {
    & > :first-child {
        grid-column: 2/3;
    }
    & > :last-child {
        grid-column: 3/5;
    }
}
.right {
    & > :first-child {
        grid-column: 1/3;
    }
    & > :last-child {
        grid-column: 3/4;
    }
}
