@use "/src/styles/mixins" as m;

.wrapper {
    margin-inline: auto;
    max-width: 375px;

    @include m.mq(tablet, desktop) {
        max-width: 965px;
    }
    @include m.mq(desktop) {
        max-width: 1440px;
    }
}
