@use "@styles/variables" as *;

.figure {
    --border-radius: 20rem 0 0 20rem;

    --right: 0;
    --left: unset;

    position: absolute;
    top: var(--top);
    right: var(--right);
    left: var(--left);

    background-color: $brand-blue;
    border-radius: var(--border-radius);
    z-index: -2;
}

.right {
    --right: unset;
    --left: 0;
    --border-radius: 0 20rem 20rem 0;
}
