@use "@styles/variables" as *;
@use "@styles/mixins" as m;

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--wrapper-padding-inline);
    margin-inline: auto;
    padding-top: 37px;
    padding-bottom: 44px;
    row-gap: 45px;

    background-color: $background-dark-blue;

    @include m.mq(tablet) {
        flex-direction: row;
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;
    }
}
.box {
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;

    @include m.mq(tablet) {
        gap: 64px;
        flex-direction: row;
    }
}
