@use "@styles/variables" as *;
@use "@styles/mixins" as m;

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--wrapper-padding-inline);
    margin-inline: auto;
    padding-block: 2.52rem;
    row-gap: 45px;

    background-color: $background-dark-blue;

    @include m.mq(tablet) {
        flex-direction: row;
        padding-block: 1.8rem;
    }
}
.box {
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;

    @include m.mq(tablet) {
        gap: 64px;
        flex-direction: row;
    }
}
.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 39px;
}
.link {
    display: flex;
}
.icon {
    fill: $light-color;
    width: 24px;
    height: 24px;
    transition: fill 0.2s;

    &:hover {
        fill: $brand-accent;
    }
}
