@use "@styles/variables" as *;

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--wrapper-padding-inline);
    margin-inline: auto;
    padding-block: 1.8rem;

    background-color: $background-dark-blue;
}
.box {
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
    gap: 64px;
}
.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 39px;
}
.link {
    display: flex;
}
.icon {
    fill: $light-color;
    width: 24px;
    height: 24px;
    transition: fill 0.2s;

    &:hover {
        fill: $brand-accent;
    }
}
